ENVIRONMENT=
DB_NAME=
DB_USER=
DB_PASS=
DB_HOST=
PORT=
GOOGLE_CALENDAR_ID=
JWT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
ADMIN_EMAILS=
FRONTEND_URL=
GOOGLE_ACCESS_TOKEN=
GOOGLE_REFRESH_TOKEN=